:root {
}

@font-face {
  font-family: "Norse";
  src: url(/assets/fonts/Norse-Bold.otf);
}

body {
  height: 100vh;
  font-family: "Norse", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
}

.side-logo {
  display: flex;
}

.side-logo__background {
  height: 1024px;
}

.side-logo__logo-section {
  display: flex;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  top: calc(1024px / 3 - 128px);
  width: 682px;
  height: 128px;
}

.side-logo__logo-section__logo {
  width: 80px;
}

.side-logo__logo-section__text {
  font-size: 75px;
  color: white;
}

.main-content {
  flex: auto;
}
