:root {
}

@font-face {
  font-family: "Norse";
  src: url(/assets/fonts/Norse-Bold.otf);
}

body {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0%;
  overflow: hidden;
}

main {
  display: flex;
  height: inherit;
}

.side-image {
  flex: 1;
}

.side-image__logo-section {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  align-self: center;
  width: 33.25%;
  height: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image__logo-section__logo {
  /* Adjust the height of the logo according to viewport height */
  height: 7vw;
}

.side-image__logo-section__text {
  font-family: "Norse", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* Adjust the size of the font according to viewport height */
  font-size: 6vw;
  color: white;
}

.side-image__bg {
  /* Set the dimensions to fill the item wrapper */
  width: 100%;
  height: 100%;
  /* The magic property: Fills the container while preserving aspect ratio */
  object-fit: cover;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.content__info {
  flex: auto;
  padding: 4%;
}

form {
  display: flex;
  flex: auto;
}

.form__container {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.form__container__submit-btn {
  margin: 4%;
}

